{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h6>BCA Prep: your free and comprehensive resource in applying to the Bergen County Academies.</h6><br>

    <h6>Bergen County Academies is a tuition-free public high school with extraordinary opportunities. But with an acceptance rate of only 15% and an admissions
    process that includes essays, standardized test scores, middle school transcripts, teacher recommendations, entrance tests, and an interview, getting in can
    be challenging.</h6><br>

    <h6>To navigate this complex process, for-profit companies* offering expensive preparation courses have stepped in to prepare applicants that can afford it,
    but applying to BCA does not need to cost a fortune. Top-notch prep should be available to all applicants regardless of socioeconomic status. No matter who
    you are, you deserve a fair shot.</h6><br>

    <h6>We hope that BCA Prep will be a helpful resource to all BCA applicants and reduce overreliance on unaffordable, for-profit prep options. We especially
    hope to reduce the resource disparity in the admissions process between disadvantaged BCA applicants and their wealthier, better-connected peers and help
    make BCA more racially and socioeconomically diverse.</h6><br>

    <h6>*TestPrepBCA, Accel Learning, Masters Prep, MEK Review, EMI Academy, Gouda BCA, and others</h6><br>

    <iframe width="420" height="315" src="https://www.youtube.com/embed/QfllnbtnAdM"></iframe><br>
    BCA is fun!
{% endblock %}

<!-- used https://www.w3schools.com/html/html_youtube.asp to learn how to embed YouTube videos -->