{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <h4>Made by a BCA Alum</h4><br>

    <img src = "/static/photo.jpg" width = 400> <!-- my own photo -->

    <h5><br>Andrew Sun</h5>
    <h5>Academy for the Advancement of Science and Technology (Class of 2019)</h5>
    <h5>Harvard University (Class of 2023)</h5>

    <p><br>You can contact me at <a href = "mailto:andrew_sun@college.harvard.edu">andrew_sun@college.harvard.edu</a> or 201-970-7659.</p>
    <footer class="small text-center text-muted">Credits to Steven DiSilvio (AAST 2019, Columbia 2023) for inspiring this project.</footer>
{% endblock %}