{% extends "layout.html" %}

{% block title %}
    Tips
{% endblock %}

{% block main %}
    <h6>Note: please refer to the <a href="https://bca-admissions.bergen.org/">BCA admissions website</a> for general information. This page will focus on tips
    and information not provided by BCA.</h6><br>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Essays
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            There are two essays: a 400-word personal statement and a 100-word activities and accolades statement. The personal statement should emphasize your
            interest and preparation for your top-choice academy. It should not be a laundry list of accomplishments (leave those for the second 100-word essay)
            but rather be a <i>coherent and genuine narrative specific to you</i>.<br><br>

            One of your goals with the personal statement should be to <i>help the admissions committee picture you as a BCA student</i>. A good way to do this
            is to connect your interests and talents to the opportunities that BCA offers. This requires you to do some research: what electives are you excited
            about? What clubs or extracurriculars are you interested in? As examples, you could mention your interest in conducting agriculture research at the
            Environmental Science Center or your desire to take proof-based math classes that, at the high school level, are relatively unique to BCA.<br><br>

            A common misconception among applicants is that it is desirable to emphasize that you are competitive. <i>This is wrong</i>; you should not write
            that you are competitive in your personal statement. BCA is a collaborative place with a lot of group work, so it is much more important to show
            that you can get along and work with others.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Teacher Recommendations
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            You will need three recommendations: one from your 8th grade math teacher, one from your 7th or 8th grade English teacher, and one from your 7th or
            8th grade science teacher.<br><br>

            After you have received confirmation from your teachers that they will write your recommendations, I suggest <i>having a conversation with each of
            your recommenders</i>. This conversation is an opportunity to tell your recommender more about yourself and your interests outside of class; this
            will help them write a better recommendation. When speaking with your recommender, you are also encouraged to recall <i>anecdotes of you in their
            classroom</i> and mention <i>pieces of work you did in their class that you are proud of</i> because the recommendation is more likely to be vivid
            and beneficial if it includes specific examples.<br><br>

            Remember to be polite and grateful. Your recommenders are volunteering their own time to help you get into BCA, and they are doing you a favor by
            writing your recommendation.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Interview
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Congratulations on getting an interview! This means your application made it through the initial review and is being given serious consideration. If
            the format remains the same as that of previous years, you will be interviewed by two BCA faculty or guidance counselors involved in the admissions
            process at the same time.<br><br>

            My advice for the interview is simple: trust yourself. Be friendly, professional, and confident in answering the questions that are asked of you. Be
            punctual, and <i>read your own personal statement a few times</i> before interviewing. It is important to be familiar with your own application since
            you want to both be consistent with and provide more context for it in the interview.<br><br>

            Be sure that you are prepared to answer why you want to attend BCA instead of your local high school and why you chose the academy you chose. You can
            also practice interviewing with your friends and family.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              FAQ 1: Should I apply to BCA?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Probably, but not necessarily. BCA is a phenomenal school, but it is not the right fit for everyone. There are both good and bad reasons to apply to
            BCA.<br><br>

            Good reasons:
            <ul>
              <li>You are excited about learning</li>
              <li>You want more of a challenge than what you got at your local middle school</li>
              <li>You would like to meet other motivated, academically strong students</li>
            </ul><br>

            Bad reasons:
            <ul>
              <li>Your parents want you to go</li>
              <li>You wish to learn only what your chosen academy focuses on (BCA students in every academy take courses in a range of fields)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              FAQ 2: Which academy should I apply to?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            When you apply, you must choose one of seven academies as your top choice and also list a second choice. You will not be able to transfer academies
            after you get in, so it is important to consider the decision carefully. It is generally rare to be admitted into your second choice.<br><br>

            But while you should think carefully, you should not stress too much: <i>choosing an academy is not choosing an academic or career path for the rest
            of your life</i>. A large proportion of BCA students do not end up in the field that their academy prescribes, and it is <i>completely normal</i> for
            your interests to change. There are plenty of examples of AAST alumni who go into law, ABF alumni who become physicians, and AVPA alumni who end up
            studying computer science.<br><br>

            It is perfectly okay to choose your academy based on what your interests are now while acknowledging that your interests may change. Most courses and
            activities at BCA are open to students of all academies, so you will have many opportunities to explore disciplines beyond what your academy covers.
            <br><br>

            Applicants deciding between the four science-oriented academies (AAST, AEDT, AMST, ATCS): AAST has the most flexible, general curriculum and is good
            for students who are enthusiastic about STEM in general but may be less certain about a specific subfield or are open to many subfields. AEDT is
            similar to AAST; relative to AAST, AEDT is more focused on hands-on applications over theory. I recommend choosing AMST only if you have a serious
            interest in biology and are committed to exploring a career in medicine. Consider ATCS if you are very interested in computer science, but you can
            also take computer science in other academies.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              FAQ 3: In which colleges do BCA graduates tend to enroll?
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            See the final page of the recent <a href = "https://bca-admissions.bergen.org/pdfs/BCA_School_Profile.pdf">BCA School Profile</a>.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Any other questions?
            </button>
          </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            Email me any other questions you have, and I will try my best to answer them. You can find my email on the "Contact" section of this website (click
            the link on the upper right of this page). If I believe your question is a common one, I will add the question and its answer to this FAQ.
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

<!-- used Bootstrap's accordion example at https://getbootstrap.com/docs/4.5/components/collapse/ as starting point -->